In [1]:
import tensorflow as tf
 
# Build a graph.
a = tf.constant(5.0)
b = tf.constant(6.0)
c = a * b
# Launch the graph in a session.
sess = tf.Session()
x=sess.run(a)
# Evaluate the tensor `c`.
print("c:",sess.run(c))
print("type of a :",type(a ))
print("type of c :",type(c )) #<class 'tensorflow.python.framework.ops.Tensor'>
print("a:",sess.run(a))
print("x:",x) 
 
a = tf.constant(5.0)
b = tf.constant(6.0)
c = a * b
with tf.Session():
  # We can also use 'c.eval()' here.
  print(c.eval())
sess.run(tf.Print(c,[c]))

c: 30.0
type of a : <class 'tensorflow.python.framework.ops.Tensor'>
type of c : <class 'tensorflow.python.framework.ops.Tensor'>
a: 5.0
x: 5.0
30.0

30.0

In [2]:
a=tf.placeholder(tf.float32)
b=tf.placeholder(tf.float32)
c=tf.add(a,b)

with tf.Session() as sess:
    print(sess.run(c,feed_dict={a:10,b:30}))
    print(sess.run(a,feed_dict={a:10,b:30}))

40.0
10.0

In [3]:
import numpy as np
x = tf.placeholder(tf.float32, shape=(2, 2))
y = tf.matmul(x, x)
 
with tf.Session() as sess:
  rand_array = np.random.rand(2, 2)  
  print(sess.run(y, feed_dict={x: rand_array}))
k=np.random.uniform(size=(5, 2))
print(k.shape)
print(k)
#dataset = tf.data.Dataset.from_tensor_slices(np.random.uniform(size=(5, 2))) 
dataset = tf.data.Dataset.from_tensor_slices(k) 

print(dataset)
print(type(dataset))
#with tf.Session() as sess:
#    print(sess.run(dataset))#Can not convert a TensorSliceDataset into a Tensor or Operation.)

datas=dataset.make_one_shot_iterator().get_next()
sess=tf.Session()
print("sess.run(datas):",sess.run(datas))

[[0.5975862  0.18598771]
 [0.39765155 0.14281064]]
(5, 2)
[[0.36735054 0.59657368]
 [0.42055205 0.07220875]
 [0.65058957 0.62223439]
 [0.65095764 0.60003768]
 [0.72083482 0.99427141]]
<TensorSliceDataset shapes: (2,), types: tf.float64>
<class 'tensorflow.python.data.ops.dataset_ops.TensorSliceDataset'>
sess.run(datas): [0.36735054 0.59657368]

In [9]:
import pandas as pd

s=pd.Series([1,2,3,4,5],index=['a','b','c','f','e'])
print(s)
print(s['b'])
print(s.shape)

a    1
b    2
c    3
f    4
e    5
dtype: int64
2
(5,)

In [18]:
import numpy as np
df = pd.DataFrame([1, 2, 3, 4, 5], columns=['cols'], index=['a','b','c','d','e'])
print(df)
print("df['cols']: \n",df['cols'])

   cols
a     1
b     2
c     3
d     4
e     5
df['cols']:
 a    1
b    2
c    3
d    4
e    5
Name: cols, dtype: int64

In [21]:
df2 = pd.DataFrame([[1, 2, 3],[4, 5, 6]], columns=['col1','col2','col3'], index=['a','b'])
print("df2",df2)
print(df2["col3"])
print(df2.index)
print(df2.columns)
df2.index

df2    col1  col2  col3
a     1     2     3
b     4     5     6
a    3
b    6
Name: col3, dtype: int64
Index(['a', 'b'], dtype='object')
Index(['col1', 'col2', 'col3'], dtype='object')

Index(['a', 'b'], dtype='object')

In [22]:
df2.loc['a']

col1    1
col2    2
col3    3
Name: a, dtype: int64

In [31]:
import numpy as np
import pandas as pd
import tensorflow as tf
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset
feature_values = np.array([[10, 7, 4], [3, 2, 1]])
num_buckets=4
boundaries = np.arange(1.0, num_buckets) / num_buckets
#quantiles = feature_values.quantile(boundaries) 
population={'city':['Beijing','Shanghai','Guangzhou','Shenzhen','Hangzhou','Chongqing'],
            'year':[2016,2017,2016,2017,2016,2016],
            'population':[2100,2300,1000,700,500,500]
            }
print(population)
population=pd.DataFrame(population)   ###
print(population)

{'city': ['Beijing', 'Shanghai', 'Guangzhou', 'Shenzhen', 'Hangzhou', 'Chongqing'], 'year': [2016, 2017, 2016, 2017, 2016, 2016], 'population': [2100, 2300, 1000, 700, 500, 500]}
        city  year  population
0    Beijing  2016        2100
1   Shanghai  2017        2300
2  Guangzhou  2016        1000
3   Shenzhen  2017         700
4   Hangzhou  2016         500
5  Chongqing  2016         500

In [62]:
cities={'Beijing':55000,'Shanghai':60000,'shenzhen':50000,'Hangzhou':20000,'Guangzhou':45000,'Suzhou':None}
apts=pd.Series(cities,name='income')
print("apts:\n",apts)
df1=pd.DataFrame(apts)
print("df1：\n",df1)
apts['shenzhen']=70000
print("apts:\n",apts)
less_than_50000=(apts<50000)
apts[less_than_50000]=40000
print("less_than_50000 apts:\n",apts)
apts2=pd.Series({'Beijing':10000,'Shanghai':8000,'shenzhen':6000,'Tianjin':40000,'Guangzhou':7000,'Chongqing':30000})
print("apts2 :\n",apts2)
apts=apts+apts2
apts[apts.isnull()]=apts.mean()
print("apts :\n",apts)

df=pd.DataFrame({'apts':apts,'apts2':apts2})   ###
print(df)
feature_values=df
num_buckets=4
boundaries = np.arange(0.0, num_buckets) / num_buckets
print("boundaries :\n",boundaries )
quantiles = feature_values.quantile(boundaries) 
returns=[quantiles[q] for q in quantiles.keys()]
print("returns:\n",returns)
print("quantiles:\n",quantiles)
df.describe()
df.head()

apts:
 Beijing      55000.0
Shanghai     60000.0
shenzhen     50000.0
Hangzhou     20000.0
Guangzhou    45000.0
Suzhou           NaN
Name: income, dtype: float64
df1：
             income
Beijing    55000.0
Shanghai   60000.0
shenzhen   50000.0
Hangzhou   20000.0
Guangzhou  45000.0
Suzhou         NaN
apts:
 Beijing      55000.0
Shanghai     60000.0
shenzhen     70000.0
Hangzhou     20000.0
Guangzhou    45000.0
Suzhou           NaN
Name: income, dtype: float64
less_than_50000 apts:
 Beijing      55000.0
Shanghai     60000.0
shenzhen     70000.0
Hangzhou     40000.0
Guangzhou    40000.0
Suzhou           NaN
Name: income, dtype: float64
apts2 :
 Beijing      10000
Shanghai      8000
shenzhen      6000
Tianjin      40000
Guangzhou     7000
Chongqing    30000
dtype: int64
apts :
 Beijing      65000.0
Chongqing    64000.0
Guangzhou    47000.0
Hangzhou     64000.0
Shanghai     68000.0
Suzhou       64000.0
Tianjin      64000.0
shenzhen     76000.0
dtype: float64
              apts    apts2
Beijing    65000.0  10000.0
Chongqing  64000.0  30000.0
Guangzhou  47000.0   7000.0
Hangzhou   64000.0      NaN
Shanghai   68000.0   8000.0
Suzhou     64000.0      NaN
Tianjin    64000.0  40000.0
shenzhen   76000.0   6000.0
boundaries :
 [0.   0.25 0.5  0.75]
returns:
 [0.00    47000.0
0.25    64000.0
0.50    64000.0
0.75    65750.0
Name: apts, dtype: float64, 0.00     6000.0
0.25     7250.0
0.50     9000.0
0.75    25000.0
Name: apts2, dtype: float64]
quantiles:
          apts    apts2
0.00  47000.0   6000.0
0.25  64000.0   7250.0
0.50  64000.0   9000.0
0.75  65750.0  25000.0

              apts    apts2
Beijing    65000.0  10000.0
Chongqing  64000.0  30000.0
Guangzhou  47000.0   7000.0
Hangzhou   64000.0      NaN
Shanghai   68000.0   8000.0

In [60]:
import pandas as pd
cities={'Beijing':55000,'Shanghai':60000,'shenzhen':50000,'Hangzhou':20000,'Guangzhou':45000,'Suzhou':None}
apts=pd.Series(cities,name='income')
apts['shenzhen']=70000
less_than_50000=(apts<50000)
apts[less_than_50000]=40000
apts2=pd.Series({'Beijing':10000,'Shanghai':8000,'shenzhen':6000,'Tianjin':40000,'Guangzhou':7000,'Chongqing':30000})
apts=apts+apts2
apts[apts.isnull()]=apts.mean()
df=pd.DataFrame({'apts':apts,'apts2':apts2})
df['bonus']=2000  
df['income']=df['apts']*2+df['apts2']*1.5+df['bonus']
print("df:\n",df)
df.to_csv('df.csv')
df.to_csv('df2.csv',index=False) #去掉第一列,行索引列

import os
df2_site = r"C:\Users\jinlong\df2.csv"
df_site = r"C:\Users\jinlong\df.csv"
pwd = os.getcwd()  #获取当前工作目录
os.chdir(os.path.dirname(df2_site))
tmp_df = pd.read_csv(os.path.basename(df2_site))   ###
print("tmp_df2:\n",tmp_df)
os.chdir(os.path.dirname(df_site))
tmp_df = pd.read_csv(os.path.basename(df_site))   ###
print("tmp_df1:\n",tmp_df)
tmp_df_index = pd.Index(['Beijing','Shanghai',"Suzhou",'Hangzhou','Tianjin','Chongqing','Nanjing','Shenzhen'])
tmp_df.index=tmp_df_index   #修改索引
print("tmp_df3:\n",tmp_df)
df.to_csv('df3.csv',sep='\t')

df:
               apts    apts2  bonus    income
Beijing    65000.0  10000.0   2000  147000.0
Chongqing  64000.0  30000.0   2000  175000.0
Guangzhou  47000.0   7000.0   2000  106500.0
Hangzhou   64000.0      NaN   2000       NaN
Shanghai   68000.0   8000.0   2000  150000.0
Suzhou     64000.0      NaN   2000       NaN
Tianjin    64000.0  40000.0   2000  190000.0
shenzhen   76000.0   6000.0   2000  163000.0
tmp_df2:
       apts    apts2  bonus    income
0  65000.0  10000.0   2000  147000.0
1  64000.0  30000.0   2000  175000.0
2  47000.0   7000.0   2000  106500.0
3  64000.0      NaN   2000       NaN
4  68000.0   8000.0   2000  150000.0
5  64000.0      NaN   2000       NaN
6  64000.0  40000.0   2000  190000.0
7  76000.0   6000.0   2000  163000.0
tmp_df1:
   Unnamed: 0     apts    apts2  bonus    income
0    Beijing  65000.0  10000.0   2000  147000.0
1  Chongqing  64000.0  30000.0   2000  175000.0
2  Guangzhou  47000.0   7000.0   2000  106500.0
3   Hangzhou  64000.0      NaN   2000       NaN
4   Shanghai  68000.0   8000.0   2000  150000.0
5     Suzhou  64000.0      NaN   2000       NaN
6    Tianjin  64000.0  40000.0   2000  190000.0
7   shenzhen  76000.0   6000.0   2000  163000.0
tmp_df3:
           Unnamed: 0     apts    apts2  bonus    income
Beijing      Beijing  65000.0  10000.0   2000  147000.0
Shanghai   Chongqing  64000.0  30000.0   2000  175000.0
Suzhou     Guangzhou  47000.0   7000.0   2000  106500.0
Hangzhou    Hangzhou  64000.0      NaN   2000       NaN
Tianjin     Shanghai  68000.0   8000.0   2000  150000.0
Chongqing     Suzhou  64000.0      NaN   2000       NaN
Nanjing      Tianjin  64000.0  40000.0   2000  190000.0
Shenzhen    shenzhen  76000.0   6000.0   2000  163000.0

In [65]:
new_graph = tf.Graph()
with new_graph.as_default():
    new_g_const = tf.constant([1., 2.])
default_g = tf.get_default_graph()

In [66]:
print("first")


def sayHello():
    str = "hello"
    print(str);
    print(__name__+'from hello.sayhello()')


if __name__ == "__main__":
    print ('This is main of module "hello.py"')
    sayHello()
    print(__name__+'from hello.main')

first
This is main of module "hello.py"
hello
__main__from hello.sayhello()
__main__from hello.main

In [67]:
print("first")


def sayHello():
    str = "hello"
    print(str);
    print(__name__+'from hello.sayhello()')


sayHello()
print(__name__+'from hello.main')

first
hello
__main__from hello.sayhello()
__main__from hello.main

In [2]:
from __future__ import print_function

import math

from IPython import display
from matplotlib import cm
from matplotlib import gridspec
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")

california_housing_dataframe = california_housing_dataframe.reindex(
    np.random.permutation(california_housing_dataframe.index))

In [5]:
households = tf.feature_column.numeric_column("households")
#long_x_lat = tf.feature_column.crossed_column(
 # set([california_housing_dataframe["latitude"], california_housing_dataframe["longitude"]]), hash_bucket_size=1000)
print(type(households))
print("households :\n",households)

<class 'tensorflow.python.feature_column.feature_column._NumericColumn'>
households :
 _NumericColumn(key='households', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)

In [6]:
def preprocess_features(california_housing_dataframe):
  """Prepares input features from California housing data set.

  Args:
    california_housing_dataframe: A Pandas DataFrame expected to contain data
      from the California housing data set.
  Returns:
    A DataFrame that contains the features to be used for the model, including
    synthetic features.
  """
  selected_features = california_housing_dataframe[
    ["latitude",
     "longitude",
     "housing_median_age",
     "total_rooms",
     "total_bedrooms",
     "population",
     "households",
     "median_income"]]
  processed_features = selected_features.copy()
  # Create a synthetic feature.
  processed_features["rooms_per_person"] = (
    california_housing_dataframe["total_rooms"] /
    california_housing_dataframe["population"])
  return processed_features

In [7]:
training_examples = preprocess_features(california_housing_dataframe.head(10))

training_examples.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_person
4647,34.1,-118.1,19.0,1554.0,393.0,1427.0,370.0,3.1,1.1
11567,37.8,-121.3,26.0,1170.0,238.0,830.0,216.0,2.6,1.4
2313,34.9,-117.5,7.0,9759.0,1816.0,2933.0,1168.0,3.5,3.3
3370,33.9,-117.9,18.0,2705.0,713.0,2726.0,674.0,2.8,1.0
4519,33.7,-118.0,26.0,2532.0,421.0,1274.0,441.0,5.4,2.0

In [23]:
def get_quantile_based_boundaries(feature_values, num_buckets):
  boundaries = np.arange(1.0, num_buckets) / num_buckets
  quantiles = feature_values.quantile(boundaries)
  return [quantiles[q] for q in quantiles.keys()]

longitude = tf.feature_column.numeric_column("longitude")
#longitude = tf.feature_column.numeric_column(training_examples["longitude"])
print("type longitude:\n",type(longitude))
print("longitude:\n",longitude)
#longitude=training_examples["longitude"]
#print("type longitude:\n",type(longitude))
latitude = tf.feature_column.numeric_column("latitude")
bucketized_longitude = tf.feature_column.bucketized_column(
  longitude, boundaries=get_quantile_based_boundaries(
    california_housing_dataframe["longitude"], 10))
print("type bucketized_longitude:\n",type(bucketized_longitude))
print("bucketized_longitude:\n",bucketized_longitude)
#latitude=training_examples["latitude"]
bucketized_latitude = tf.feature_column.bucketized_column(
    latitude, boundaries=get_quantile_based_boundaries(
      training_examples["latitude"], 10))
long_x_lat = tf.feature_column.crossed_column(
  set([bucketized_longitude, bucketized_latitude]), hash_bucket_size=100)
print("type long_x_lat:\n",type(long_x_lat))
print("long_x_lat:\n",long_x_lat)

type longitude:
 <class 'tensorflow.python.feature_column.feature_column._NumericColumn'>
longitude:
 _NumericColumn(key='longitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)
type bucketized_longitude:
 <class 'tensorflow.python.feature_column.feature_column._BucketizedColumn'>
bucketized_longitude:
 _BucketizedColumn(source_column=_NumericColumn(key='longitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), boundaries=(-122.28, -121.98, -121.36000000000001, -119.87, -118.49, -118.3, -118.12, -117.88, -117.24))
type long_x_lat:
 <class 'tensorflow.python.feature_column.feature_column._CrossedColumn'>
long_x_lat:
 _CrossedColumn(keys=(_BucketizedColumn(source_column=_NumericColumn(key='latitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), boundaries=(33.839000000000006, 34.025999999999996, 34.616, 35.99, 37.285, 38.02, 38.323, 38.5, 39.242)), _BucketizedColumn(source_column=_NumericColumn(key='longitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), boundaries=(-122.28, -121.98, -121.36000000000001, -119.87, -118.49, -118.3, -118.12, -117.88, -117.24))), hash_bucket_size=100, hash_key=None)